.advantages {
   padding: 0px 0px 0px 0px;
   background: $blackColor;
}

.advantages__container {
   padding: 0px 20px;
   color: $whiteColor;
}

.advantages__items {
   padding: 35px 0px 52px 0px;
   display: flex;

   @media (max-width: $md2 + px) {
      flex-direction: column;
   }
}

._advan__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   flex: 0 1 25%;


   div {
      padding: 0px 0px 5px 0px;
   }

   span {
      padding: 0px 0px 25px 0px;
      display: block;
      @include adaptive-font (32, 16);
      line-height: calc(36 / 32);
      font-weight: 700;
   }

   p {
      width: 82%;
      display: block;
      font-size: 15px;
      line-height: 23px;


      @media (max-width: $md2 + px) {
         width: 38%;
      }

      @media (max-width: $md3 + px) {
         width: 60%;
      }

      @media (max-width: $md4 + px) {
         width: 80%;
      }
   }
}