/* 
 * SLIDER
 */

 .slider-section{
    padding: 0px 0px 102px 0px;
 }


.slider {
   padding: 0px 10px;
}

.slider__item {
   margin-right: 20px;
   text-align: center;
   font-size: 14px;
   line-height: 18px;
   opacity: 0.5;

   div {
      padding: 0px 0px 12px 0px;
   }

   span {
     padding: 0px 0px 3px 0px;
   }
}

.slider__title {
   text-align: center;

   h2 {
      display: block;
      padding: 0px 0px 65px 0px;
      @include adaptive-font (32, 16);
      line-height: calc(36 / 32);
      font-weight: 700;
   }
}

/* 
 * Стили для слайдера
 */


/*Слайдер*/
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {}

/* Лента слайдов */
.slick-track {}

/* Слайд */
.slick-slide {}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
  opacity: 1;
}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {
   background:red;
}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {

}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
   
}

/* Точки (булиты) */
.slick-dots {}

.slick-dots li {}

/* Активная точка */
.slick-dots li.slick-active {}

/* Элемент точки */
.slick-dots li button {}

/*Конкретный слайдер*/

.slick .slick-slider {
   min-width: 0;
}

.slider .slick-list {
   overflow: hidden;
}

.slider .slick-track {
   height: 100%;
   display: flex;
}

.slider .slick-arrow {
   width: 50px;
   height: 50px;
   background-size: contain;
   background-repeat: no-repeat;
   position: absolute;
   z-index: 10;
   bottom: 71px;
   font-size: 0px;
}

.slider .slick-arrow.slick-prev {
   padding: 10px;
   left: 2%;
   background-image: url('../img/slider/left.png');
   width: 17px;
   height: 17px;
}

.slider .slick-arrow.slick-next {
   padding: 10px;
   right: 2%;
   background-image: url('../img/slider/right.png');
   width: 17px;
   height: 17px;

}
